body{
    background-color: #A7ABB1;
}
#azul{
    background-color: #021730;
    width: 50%;
    margin-left: 25%;
    padding: 2%;
    margin-top: 10%;
    border-radius: 20px;
}
#negro{
    background-color: black;
    padding: 2%;
    border-radius: 20px;
}
#formulario{
    background-color: #F9CD16;
    padding: 2%;
    border-radius: 20px;
}
h3{
    color: white;
    text-align: center;
}
#asignar,#volver{
    display: block;
    text-decoration: none;
     color: white;
     background-color: #021730;
     width: 100%;
     margin-top: 10%;
     border-radius: 10px;
  }
  #buscar{
    display: block;
    text-decoration: none;
     color: white;
     background-color: #021730;
     width: 100%;
     border-radius: 10px;
  }