body{
    background-color: #A7ABB1;
}
#parqueo{
    background-color: #021730;
    color: #F9CD16;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}
#solicitar{
    background-color: #F9CD16;
    text-align: center;
    color: #021730;
    padding-top: 2%;
    padding-bottom: 3%;
}
#contenedor{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}
#imagen{
    width: 70%;
}
#acceder,#cancelar{
    display: block;
    text-decoration: none;
     color: white;
     background-color: #021730;
     width: 100%;
     margin-top: 20%;
     border-radius: 10px;
  }
